* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: sans-serif;
	color: black;
	font-size: 100%;
	background-color: white;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}