.sl {
	padding: 50px 0;
	&__title {
		text-align: center;
		text-transform: uppercase;
	}
	&__list-product {
		border: 2px solid grey;
		border-radius: 10px;
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}
}
