@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900&display=swap');

// COLORS

$light-grey: #f9f8fb;
$grey: grey;
$blue: #00afaf;
$orange: #ff6033;
$black: #262626;
$white: #ffffff;

//FONT

$main-font: 'Raleway', sans-serif;