.contact {
	background: $white url('../img/bg_contact.jpg') center top no-repeat;
	background-size: cover;
	&__inner {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 100px 0 120px;
		
		.cahee__heading {
			display: flex;
			width: 100%;
			max-width: 370px;
			flex-direction: column;
			align-items: center;

		}
		.cahee__title {
			font-size: 5.6rem;
			font-weight: bold;
			text-transform: capitalize;
			margin-bottom: 20px;
		}
		.cahee__subtitle {
			text-align: center;
			font-weight: 300;
			font-size: 1.1rem;
		}
	}
	.form__input, .form__text {
		display: block;
		width: 100%;
		background-color: $blue-op;
		padding: 15px;
		border: none;
		color: $white;
		&::placeholder {
			color: $white;
			font-family: $main-font;		}
		&:focus {
			background-color: $blue;
			border-left: 5px solid $black-op;
		}
	}

	.form__input {
		margin-bottom: 15px;
	}

	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;

	}
	&__form {
		width: 100%;
		max-width: 500px;
	}
	&__adress {
		width: 100%;
		max-width: 500px;
		.adress__title{
			text-transform: uppercase;
			font-size: 1.1rem;
		}
		.adress__text {
			display: block;
			font-size: 1.3rem;
			text-decoration: none;
			color: $black;
			margin-bottom: 15px;
		}
		.adress__text:last-child {
			margin-bottom: 0;
		}
	}
}