@import url('https://fonts.googleapis.com/css?family=Raleway:300,700&display=swap');

// COLORS

$grey: #b9b9b9;
$blue: 	rgba(0, 175, 175, 1);
$blue-op: 	rgba(0, 175, 175, 0.4);
$red: #ff2b58;
$black: #262626;
$black-op: 	rgba(0, 0, 0, 0.4);
$white: #ffffff;

//FONT

$main-font: 'Raleway', sans-serif;