*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}
body {
	font-family: $main-font;
	color: $white;
	font-size: $base-size;
	background-color: $white;
	border: 15px solid $white;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
