@import url('https://fonts.googleapis.com/css?family=Aleo:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

$main-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Aleo', serif;

// colors
$grey-bg-text: #c6c6c6;
$blue: #5474fd;
$button-blue: $blue;
$brown: #333333;
$bg-color-second-section: $brown;
$grey-but-more-grey: #232323;
$gradient-left-color: #496bfe;
$gradient-right-color: $blue;
$kavychki: $blue;
$sam-sumon: $brown;
$play: #b1bdfe;
$hover-social-menu: $blue;
$white: #fff;
$black: #000;
$red: #ff6363;
$light-blue: #00a2ff;

$base-size: 16px;
$navigation-size: 14px;
$card-title: 20px;
$main-subtitle: 22px;
$logo-size: 24px;
$button-size: $logo-size;
$section-title: 36px;
$main-title: 48px;