.expert {
	&__list {
		display: flex;
		flex-wrap: wrap;
		text-decoration: none;
		justify-content: center;
		flex-direction: column;
		list-style: none;
		@include sm-screen {
			justify-content: space-between;
			flex-direction: row;
		}
		@include md-screen {
			height: 800px;
		}
		&-item {
			flex-basis: 31%;
			height: fit-content;
			@include sm-screen {
				flex-basis: 50%;
			}
			@include md-screen {
				flex-basis: 31%;
			}
	
		}
	}
	&__item {
		text-align: center;
		display: flex;
		text-decoration: none;
		height: 360px;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		transition: all .3s ease;
		border-radius: 8px;
		border: 10px solid transparent;
		@include md-screen {
			border: none;
		}
		&:hover {
			box-shadow: 0 0 5px $blue;
		}
	}
	&__list-title {
		text-transform: uppercase;
		font-size: 1.2rem;
		color: $blue;
		@include lg-screen {
			font-size: 1.5rem;
		}
	}
	&__list-text {
		line-height: 1.5;
		color: $text;
		@include xl-screen {
			line-height: 2.2;
		}
	}
	&__list-description {
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}