.home {
	background: $blue url("../img/bg__home.jpg") center top no-repeat;
	background-size: cover;
	min-height: 100vh;
	.cookie {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		background-color: $dark-blue;
		z-index: 2;
		display: none;
		@include md-screen {
			display: flex;
		}
		&__inner {
			width: 100%;
			max-width: 510px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			padding: 20px 0;
			align-items: center;
			color: white;
		}
		&__text {
			font-size: 0.8rem;
		}
		.portfolio__button  {
			max-width: 115px;
			padding: 10px 0;
			border-radius: 15px;
			font-size: 0.75rem;
			color: $dark-blue;
			text-transform: capitalize;
			&:hover {
				background-color: $blue;
			}
		}
	}
	&__inner {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 50px 0 25px;
		@include md-screen {
			padding: 100px 0 25px;
		}
	}
	&__burger {
		align-self: flex-end;
		cursor: pointer;
		height: 25px;
		width: 25px;
		fill: white;
		transition: all .3s ease;
		&:hover {
			fill: $dark-blue;
		}
		@include md-screen {
			display: flex;
		}
	}
	&__img {
		width: 100px;
		height: 100px;
		background-color: $white;
		border-radius: 50%;
		border: 0;
		box-shadow: 0px 0px 0px 9px rgba($white, 0.2),
		0px 0px 0px 18px rgba($white, 0.1);
		@include xs-screen-land {
			margin-bottom: 20px;
		}
		@include md-screen {
			width: 150px;
			height: 150px;
		}
	}
	&__description {
		text-align: center;
		text-transform: uppercase;
		color: $white;
		@include xs-screen-land {
			margin-bottom: 20px;
		}
	}
	&__title {
		font-weight: 900;
		font-size: 1.5rem;
		margin-bottom: 25px;
		@include sm-screen {
			font-size: 2rem;
		}
		@include lg-screen {
			font-size: 3.1rem;
		}
	}
	&__text {
		font-weight: 300;
		line-height: 1.2;
		font-size: 0.9rem;
		@include md-screen {
			line-height: 2.2;
		}
	}
	&__scroll {
		display: flex;
		&-img {
			fill: 	rgba($white, 0.5);
			transition: all .3s ease;
		}
		&:hover .home__scroll-img {
			fill: $dark-blue;
		}
	}
}
.about {
	&__text {
		text-align: center;
		line-height: 1.5;
		@include md-screen {
			line-height: 2.2;
		}
	}
}
.modal {
	background-color: rgba($text, .5);
	position: fixed;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	&__container {
		width: 100%;
		max-width: 820px;
		position: sticky;
		top: 20%;
		margin: auto;
		background-color: $white;
		padding: 50px 15px;
		border-radius: 10px;
	}
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		fill: $blue;
		width: 24px;
		height: 24px;
		transition: all .3s ease;
		&:hover {
			fill: $dark-blue;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-input {
			padding: 15px 20px;
			border-radius: 10px;
			border: 1px solid $grey;
			font-family: $main-font;
			width: 100%;
			max-width: 520px;
			margin-bottom: 15px;
			&:nth-child(3) {
				resize: none;
				margin-bottom: 45px;
			}
		}
		&-button {
			cursor: pointer;
			width: 100%;
			max-width: 200px;
			padding: 20px 0;
			text-align: center;
			color: $white;
			border: 0;
			background-color: $blue;
			border-radius: 29px;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			transition: all .3s ease;
			&:hover {
				color: $blue;
				background-color: $white;
				box-shadow: 0 0 5px $blue;
			}
		}
	}
}
.hire__button {
	@include xs-screen-land {
		margin-bottom: 20px;
	}
}
.menu {
	background-color: rgba($text, .5);
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	z-index: 4;
	display: none;
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		fill: $blue;
		width: 24px;
		height: 24px;
		transition: all .3s ease;
		&:hover {
			fill: $dark-blue;
		}
	}
	&__container {
		max-width: 1170px;
		margin: 0 auto;
		position: sticky;
		top: 0;
		padding: 0 15px;
		background-color: $white;
		@include md-screen {
			top: 20%;

		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		justify-content: space-between;
		padding: 30px 0;
		@include md-screen {
			padding: 60px 0;
		}
	}
	&__item {
		display: flex;
	}
	&__link {
		text-decoration: none;
		font-size: 2.4rem;
		text-transform: capitalize;
		color: $grey;
		font-weight: 300;
		line-height: 2;
		transition: all .3s ease;
		@include md-screen {
			line-height: 2;
			font-size: 3.1rem;
		}
		&:hover {
			color: $blue;
		}
	}
	&__social {
		padding: 30px 0;
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
		@include md-screen {
			padding: 60px 0;
		}
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			max-width: 400px;
			height: 1px;
			background-color: $grey;
			top: 0;
		}
		&-list {
			list-style: none;
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 290px;
		}

		&-link {
			display: flex;
			&:hover .menu__social-img {
				fill: $blue;
			}
		}
		&-img {
			// background-color: $grey;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			transition: all .3s ease;
			fill: $grey;
		}
	}
}