// COLORS:
$dark-blue: #194277;
$blue: #3c8dfe;
$white: #ffffff;
$light-blue: #f1f8ff;
$grey: #d2d2d2;
$text: #5a5a5a;
// FONTS:
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
$main-font: 'Lato', sans-serif;