@import url('https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:900&display=swap');
// COLORS:
$orange: #ffcc00;
$light-grey: #cccccc;
$grey: #898f8f;
$dark-grey: #666666;
$black: #333333;
$white: #fff;

// FONTS:
$heading-font: 'Roboto', sans-serif;
$main-font: 'Raleway', sans-serif;