* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 100%;
	color: #3c3c3c;
	font-family: 'Lato', sans-serif;
	background-color: #f6f6f6;
}
.team {
	padding-bottom: 110px;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.page__heading {
	width: 100%;
	max-width: 570px;
	padding: 100px 0px 60px;
	margin: 0 auto;
	text-align: center;
}

.page__title {
	font-size: 2.1rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 60px;
	position: relative;
	letter-spacing: 0.2rem;
}

.page__text {
	font-size: 1rem;
	line-height: 1.5rem;
}

.page__title:after {
	content: "";
	position: absolute;
	display: block;
	height: 4px;
	width: 45px;
	left: 50%;
	top: 50px;
	background-color: #dddbdb;
	transform: translateX(-50%);

}

.team__list {
	display: flex;
	justify-content: space-between;
}

.team__name {
	text-transform: capitalize;
	font-size: 1.1rem;
	font-weight: bold;
}

.team__position {
	text-transform: capitalize;
	font-size: 0.9rem;
	color: #646464;
}

.team__img {
	margin-bottom: 15px;
	background-color: #18b5dc;
	position: relative;
}

.team__img img {
	display: block;
	transition: opacity 0.5s ease;
}
.team__name {
	margin-bottom: 5px;
}

.team__item:hover .team__img img {
	opacity: 0;
}

.team__item:hover .social__list {
	opacity: 1;
}

.social__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	opacity: 0;
}

.social__link {
	display: block;
	background-color: #5ecbe7;
	border-right: 2px solid #18b5dc;
	padding: 10px;
	color: rgba(255, 255, 255, 0.5);
	transition: color 0.5s ease;
}

.social__link:hover {
	color: rgba(255, 255, 255, 1);
}

.social__item:last-child .social__link {
	border-right: none;
}