* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    color: $black;
    font-family: $main-font;
    font-size: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.cahee__title {
    font-size: 5.6rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    @media all and (max-width: 575px) {
        font-size: 3.5rem;
    }
}
.cahee__subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 45px;
}
.cahee__button {
    display: inline-flex;
    width: 100%;
    max-width: 200px;
    padding: 20px 0px;
    justify-content: center;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    font-size: 1.1 rem;
    transition: all .3s ease;
}
.t-lower {
    text-transform: lowercase;
}