@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900&display=swap');

// COLORS

$light-grey: #f9f8fb;
$grey: #b9b9b9;
$blue: 	rgba(0, 175, 175, 1);
$blue-op: 	rgba(0, 175, 175, 0.4);
$red: #ff2b58;
$orange: #ff6033;
$black: #262626;
$black-op: 	rgba(0, 0, 0, 0.4);
$white: #ffffff;
$blue-light: #70bfff;
$yellow: #ffe92f;
$button-bg: #5585a2;
$green: #96b92c;
$violet: #b07cf7;

//FONT

$main-font: 'Raleway', sans-serif;