@import '../../styles/styles.scss';
.p__testimonials {
    display: flex;
    width: 100%;
    background-color: $white;
    justify-content: center;
    align-items: center;
    color: $black;
    padding: 150px 0 100px;
    min-height: calc(100vh - 170px);

    &.home {
        padding: 50px 0;
        flex-grow: 0;
        min-height: initial;
    }

    &-item {
        background-color: $white;
        padding: 30px;
        border: 1px solid $red;
        min-height: 440px;
        @include xs-screen {
            min-height: 360px;
        }
        @include sm-screen {
            min-height: 300px;
        }
        @include md-screen {
            min-height: 280px;
        }
        @include lg-screen {
            min-height: 250px;
        }
        @include xl-screen {
            min-height: 200px;
        }
    }

    &-item-name {
        color: $red;
        margin-bottom: 15px;
        font-weight: bold;
        font-style: italic;
        font-size: 1.8rem;
        display: flex;
        padding: 0 20px;
        justify-content: center;
        @include sm-screen {
            justify-content: space-between;
        }
    }

    &-item-text {
        font-size: 1.2rem;
    }

    &-item-date {
        color: $black;
        font-style: normal;
        font-size: 1.4rem;
        display: none;
        @include sm-screen {
            display: inline-flex;
        }
    }
}