* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	background-color: #2793cb;
}

.weather_section {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 20px 0;
}

.weather_title {
	text-transform: capitalize;
	margin-bottom: 20px;
}

.upper_text {
	text-transform: uppercase;
}

.weather_list {
	list-style:  none;
	font-size: 0;
	border:  1px solid #fff;
	margin-bottom: 20px;
}

.weather_list-item {
	display: inline-block;
	text-align: center;
	border:  1px solid #fff;
	font-size: 1rem;
	text-transform: capitalize;
	padding: 20px 0;
}

.dark_blue {
	background-color: #2793cb;
}

.blue {
	background-color: #24bdc8;
}

.light_violet {
	background-color: #986f95;
}

.dark_orange {
	background-color: #c75442;
}

.orange {
	background-color: #e77145;
}

.light_orange {
	background-color: #ffc95d;	
}

.light_green {
	background-color: #93c395;
}

.light_blue {
	background-color: #5e9494;
}

.rose {
	background-color: #cf7294;
}

.dark_green {
	background-color: #288c62;	
}

.dark_violet {
	background-color: #636996;
}

.min_width {
	width: 25%;
}

.mid_width {
	width: 50%;
}

.max_width {
	width:  100%;
}
.weather_list-header {
	margin-bottom: 10px;
}
.weather_list-content {
	opacity: 0.7;
	font-size: 1.2rem;
}

.weather_list:hover .weather_list-item{
	opacity: 0.5;
}
.weather_list:hover .weather_list-item:hover {
	opacity: 1;
}
.weather_text-add {
	text-transform: capitalize;
	font-size: 1.2rem;
	opacity: .7;
}


/* #2793cb;
#24bdc8;
#986f95;
#c75442;
#e77145;
#ffc95d;
#93c395;
#5e9494;
#cf7294;
#288c62;
#636996;
 */