.about {
	padding: 160px 0;
	@media all and (max-width: 767px) {
		padding: 80px 0;
	}
	@media all and (max-width: 575px) {
		padding: 40px 0;
	}
}
.el__content {
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 580px;

}
.work {
	padding: 110px 0px 80px;
	@media all and (max-width: 767px) {
		padding: 40px 0px 30px;
	}
	@media all and (max-width: 575px) {
		padding: 30px 0px 20px;
	}
}
.white {
	border-color: white;
	&::before{
		background-color: $white;
	}
	&::after{
		background-color: $white;
	}
}
.el__title {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: px_to_em(34px);
	font-weight: 700;
	@media all and (max-width: 767px) {
		font-size: px_to_em(30px);
	}
}
.el__text {
	font-size: px_to_em(16px);
	line-height: 1.5;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}

}