* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	color: $black;
	font-size: 100%;
	background-color: $white;
	@media all and (max-width: 767px) {
		font-size: 14px;
	}
	@media all and (max-width: 575px) {
		font-size: 12px;
	}
}

.container {
	width: 100%;
	max-width: 930px;
	padding: 0 15px;
	margin: auto;
}