.footer {
	padding: 60px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	@media all and (max-width: 767px) {
		padding: 40px 0;
	}
	@media all and (max-width: 575px) {
		padding: 30px 0;
	}
	&__link {
		display: flex;
		margin-right: 30px;
	}
	&__logo {
		fill: $black;
		stroke: $black;
		display: block;
		width: 40px;
		height: 40px;
	}
	&__copyright {
		font-size: px_to_em(14px);
		&-link {
			color: $black;
			text-decoration: none;
		}
	}
}