.services {
	background:transparent url('../img/bg_services.jpg') center top no-repeat;
	background-size: cover;
	padding: 120px 0 100px;
	color: $white;
	@media all and (max-width: 767px) {
		padding: 80px 0;
	}
	@media all and (max-width: 575px) {
		padding: 40px 0;
	}
}