.al-about {
	.container {
		position: relative;
	}
	.img-wrapper {
		@include padding-hack(100px);
		width: 100%;
		max-width: 50%;
		padding-top: 714px;
	}
	&__caption {
		width: 100%;
		max-width: 60%;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-color: $white;
		padding: 80px;
		box-shadow: 2px -2px 20px rgba($black, 0.1);

	}
	.al-section-line {
		display: flex;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}