@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

// COLORS:

$light-grey: #e5eeee;
$white: #fff;
$white-op: rgba(255, 255, 255, 0.5);
$green: #23ae92;
$violet: #c66cd6;
$blue: #3023ae;
$red: #e66a64;

// FONTS:
$main-font: 'Quicksand', sans-serif;