.portfolio {
	width: 100%;
	max-width: 1920px;
	margin: auto;
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 490px;
		list-style: none;
	}
	&__item {
		width: 100%;
		max-width: 25%;
		height: 48%;
	}
	&__item:nth-child(2), &__item:nth-child(5) {
		max-width: 49%;
	}
	&__link {
		background-image: url(../img/bg1.jpg);
		background-size: cover;
		display: flex;
		align-items: flex-end;
		height: 100%;
		padding: 0px 0px 40px 40px;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: px_to_em(34px);
		letter-spacing: px_to_em(2px);
		transition: all .3s ease;
		&:hover {
			box-shadow: 0 0 5px 2px $black;
			color: red;
		}
		&.joint {
			background-image: url(../img/bg2.jpg);
			background-size: cover;
		}
		&.market {
			background-image: url(../img/bg3.jpg);
			background-size: cover;
		}
		&.worktop {
			background-image: url(../img/bg4.jpg);
			background-size: cover;
		}
		&.lable {
			background-image: url(../img/bg5.jpg);
			background-size: cover;
		}
		&.kyiv {
			background-image: url(../img/bg6.jpg);
			background-size: cover;
		}
	}
}
.contact {
	padding-top: 100px;
	&__button {
		padding: 15px 130px;
		display: inline-block;
		background-color: $black;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		transition: all .3s ease;
		&:hover {
			color: $black;
			background-color: $white;
			box-shadow: 0 0 5px 2px $black;
		}
	}
}
.footer {
	padding: 60px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&__link {
		display: flex;
		margin-right: 30px;
	}
	&__logo {
		fill: $black;
		stroke: $black;
		display: block;
		width: 40px;
		height: 40px;
	}
	&__copyright {
		font-size: px_to_em(14px);
		&-link {
			color: $black;
			text-decoration: none;
		}
	}
}