* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #4f4f4f;
	font-size: 1.5rem;
	background-image: url(../img/bg_img.jpg);
	font-family: 'Caveat', cursive;
}
header {
	width: 50%;
	min-width: 300px;
	margin: 20px auto;
	background-color: #584522;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}
.shopping_list {
display: flex;
justify-content: space-around;
}
.shopping_column {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 2px solid #584522;
	border-radius: 10px;
	width: 45%;
	text-align: left;
	padding: 20px 50px;
	color: #584522;
}
.shopping_column input:checked + span {
	color: red;
}
@media (max-width: 576px) {
	body {
		font-size: 1rem;
	}
	.shopping_column {
		padding: 10px;
	}
}