
@font-face {
	font-family: 'HansKendrick-Regular';
	src: url("../fonts/neue_hans_kendrick_regular.woff") format("woff");
}

@font-face {
	font-family: 'HansKendrick-Bold';
	src: url("../fonts/neue_hans_kendrick_bold.woff") format("woff");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 100%;
	color: #1d1d1d;
	font-family: 'HansKendrick-Bold', sans-serif;
	background-color: #e2e7ec;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.blog {
	min-height: 1500px;
	padding: 100px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.blog__list {
	min-height: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.blog__link {
	background-color: #fff;
	min-height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 360px;
	text-decoration: none;
	padding: 0 25px 25px;
	transition: box-shadow 0.3s ease;
}

.blog__link:hover {
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.blog__image {
	align-self: center;
}
.blog__item-inner {
	background-image:  url('../img/1.jpg');
}
.big .blog__link {
	width: 100%;
	max-width: 740px;
	padding: 35px;
	display: flex;
	justify-content: flex-end;
	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.5) 60%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.blog__footer {
	width: 100%;
	min-height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.big .blog__footer {
	width: 70%;
}

.blog__title {
	color: #000;
	font-size: 22px;
	font-family: 'HansKendrick-Bold', sans-serif;
	text-transform: uppercase;
}

.big .blog__title {
	color: #fff;
	font-size: 30px;
}

.blog__date {
	font-size: 13px;
	color: #818181;
	font-family: 'HansKendrick-Regular';
	text-transform: uppercase;
	flex-grow: 1;

}

.blog__loading {
	width: 100%;
	max-width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.loading__text {
	font-family: 'HansKendrick-Bold', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #99a5b0;
}
.author__img {
	flex: 0 0 auto;
}